@model CraSampleApp.Domain.Domain.Data.Model.MovieManagement

@using (Html.BeginForm("Create", "Movie", FormMethod.Post))
{
    if(ViewBag.Error!=null)
    {
<div class="alert alert-danger">
    @ViewBag.Error
</div>
    }
    
    <div class="form-group">
        <label>Name</label>
        <div class="form-control">
            @Html.TextBoxFor(c => c.Name)
        </div>
    </div>
    <div class="form-group">
        <label>Type</label>
        <div class="form-control">
            @Html.DropDownListFor(c => c.MovieTypeId, (List<SelectListItem>)ViewBag.MovieTypes)
        </div>
    </div>

    <br />
    <button type="submit">Kaydet</button>

}
